
@{
    ViewData["Title"] = "Requirements";
}

    @*<section id="requirements" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="text-white">REQUIREMENTS</h1>
                    <br />
                    <h2 class="text-white">ENROLLMENT</h2>
                    <p class="text-white-50">
                    Form 138 - 1st year<br />
                    Certificate of Good Moral Character - 1st year<br />
                    PSA issued live birth - 1st & 2nd year<br />
                   Thick long brown envelope - 1st & 2nd year<br />
                    2 pcs passport size ID picture - 1st & 2nd year<br />
                    Honorable Dismissal - 2nd year only</p>

                    <h2 class="text-white">ENTRANCE EXAM</h2>
                    <p class="text-white-50">
                    Form 138 (photocopy) - Grade 12 completer<br />
                    "PASSED" mid-term ratings (Certified by School)<br />
                    Filled-in Application form<br />
                    2 pcs passport size ID picture<br />
                    Testing fee 300.00 pesos</p>
                    </div>
                </div>
            </div>
</section>*@